html {
  background: #1C053A; }
  html body {
    background: #1C053A; }

.flex {
  display: flex; }
  .flex .btn-group {
    margin: auto;
    margin-top: 5px; }

.my-app {
  margin: auto;
  margin-top: 75px;
  height: auto;
  background-color: #6B4E90;
  border: 2px solid #8F78AD;
  border-radius: 25px; }
  .my-app .btn-group {
    margin-top: 4px; }
  .my-app form {
    margin-bottom: 40px; }
    .my-app form .form-group {
      margin: 20px 0 20px; }
      .my-app form .form-group label {
        font-weight: bold; }

@media (max-width: 479px) {
  .my-app {
    width: 100%; } }

@media (min-width: 480px) {
  .my-app {
    width: 75%; } }

@media (min-width: 1024px) {
  .my-app {
    width: 60%; } }

.to-do {
  height: 275px;
  background-image: url("../images/coffee-2608864_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px 25px 0 0; }
  .to-do h1 {
    text-align: center;
    padding-top: 120px;
    text-transform: uppercase;
    color: #606060;
    font-weight: 900; }
  .to-do form {
    margin-top: 75px;
    display: flex; }
    .to-do form .btn-primary {
      margin-top: 0; }

.card {
  margin-top: 25px;
  margin-bottom: 25px; }
  .card li {
    display: flex; }
    .card li .checkbox {
      margin-right: 5.75px; }
    .card li p {
      margin: 0; }
    .card li div {
      margin-left: auto; }
      .card li div button {
        margin: 0 2.5px; }

#lighten {
  transition: 0.35s;
  border: 1.5px solid rgba(3, 95, 154, 0.65);
  margin-bottom: 0.9px; }
